@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: hsl(210, 36%, 96%);
  font-family: "opensans", sans-serif;
}
.container {
  height: 100vh;
}
.title {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.title h2 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: #c59d5f;
}
.content {
  min-height: 280px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 15vh;
}
.question {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  color: hsl(209, 61%, 16%);
}
.question-title span {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.question-title span:hover {
  transform: rotate(90deg);
}

.question-title span i {
  color: #c59d5f;
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  color: hsl(210, 22%, 49%);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
